// Example Stylus file

body, html
  height 100%
  margin 0
  padding 0

body
  font normal 1em sans-serif

.track
	position relative
	display block
	background black
	width 50%
	height 100%
	float left